################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DROPDOWN_ALL_EXC/v15/Server/sqlite3
