
<h4 style="margin: 1%;"> Drop down  All option </h4> 
<form [formGroup]="searchUserForm" fxFlex fxLayout="column" autocomplete="off" style="margin: 1%;border: 1px solid #ccc;padding: 5px;">

  <mat-select placeholder="Filter by Type" formControlName="userType" multiple>
		<mat-option #allSelected (click)="toggleAllSelection()" [value]="0">All</mat-option>    
    <mat-option *ngFor="let filters of userTypeFilters" [value]="filters.key" (click)="tosslePerOne(allSelected.viewValue)">
			{{filters.value}}
		</mat-option>
	</mat-select>

</form>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 98%;margin: 1%;">


  <!-- Position Column 1-->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element" style="color: #ff4081;"> {{element.type}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>





